<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>
		<add name="cn"
			 connectionString="Data Source=DESKTOP-S35R0HB\SQLEXPRESS;Initial Catalog=Sistema_Ventas;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
